/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevents overflow outside main content area */
  }
  
  .router-outlet-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  footer {
    background-color: #007ad9;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
